{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/log.css">

    <div>
          <h1>Login</h1>

        <div class="credenziali">
          <form action="{{ path_for('auth.login') }}" method="POST" autocomplete="on">

              <label for="email">Email
              <input type="email" name="email" id="email" value="{{ old.email }}" placeholder="example@mail.com">
              </label>
              {% if errors.email %}
                <span class="help-block">{{ errors.email | first }}</span>
              {% endif %}

              <label for="password">Password
              <input type="password" name="password" id="password" >
              </label>
              {% if errors.password %}
                <span class="help-block">{{ errors.password | first }}</span>
              {% endif %}

            <button type="submit" class="btn">Login</button>
          </form>

          <br/> <br/>
          <a class="text-center" href="{{ path_for('auth.registra') }}">new Account</a>
        </div>

  </div>

{% endblock %}
