{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/log.css">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading" id="tit">Registrazione Cliente</div>
        <div class="panel-body">
          <form action="{{ path_for('auth.registraCliente') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ old.name }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.cognome ? ' text-danger' : '' }}">
              <label for="cognome">Cognome</label>
              <input type="text" name="cognome" id="cognome" value="{{ old.name }}" class="form-control">
              {% if errors.cognome %}
                <span class="help-block">{{ errors.cognome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.telefono ? ' text-danger' : '' }}">
              <label for="telefono">Telefono</label>
              <input type="text" name="telefono" id="telefono" value="{{ old.name }}" class="form-control">
              {% if errors.telefono %}
                <span class="help-block">{{ errors.telefono | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.citta ? ' text-danger' : '' }}">
              <label>Citta'</label>
              <select name="citta" required>
                {% for citt in citta %}
                  <option value="{{ citt.id }}">{{ citt.nome }}</option>
                {% endfor %}
              </select>
              {% if errors.citta %}
                <span class="help-block">{{ errors.citta | first }}</span>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Registrami</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
