{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/log.css">

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h1>Registrazione Fornitore</h1></div>
        <div class="panel-body">
          <form action="{{ path_for('auth.registraFornitore') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nomeAttivita ? ' text-danger' : '' }}">
              <label for="nomeAttivita">Nome attivita'</label>
              <input type="text" name="nomeAttivita" id="nomeAttivita" value="{{ old.name }}" class="form-control">
              {% if errors.nomeAttivita %}
                <span class="help-block">{{ errors.nomeAttivita | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.via ? ' text-danger' : '' }}">
              <label for="via">Via</label>
              <input type="text" name="via" id="via" value="{{ old.name }}" class="form-control">
              {% if errors.via %}
                <span class="help-block">{{ errors.via | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.numero ? ' text-danger' : '' }}">
              <label for="numero">Numero</label>
              <input type="text" name="numero" id="numero" value="{{ old.name }}" class="form-control">
              {% if errors.numero %}
                <span class="help-block">{{ errors.numero | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.citta ? ' text-danger' : '' }}">
              <label>Citta'</label>
              <select name="citta" required>
                {% for citt in citta %}
                  <option value="{{ citt.id }}">{{ citt.nome }}</option>
                {% endfor %}
              </select>
              {% if errors.citta %}
                <span class="help-block">{{ errors.citta | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.telefono ? ' text-danger' : '' }}">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" id="telefono" value="{{ old.name }}" class="form-control">
                {% if errors.telefono %}
                  <span class="help-block">{{ errors.telefono | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.tipoCucina ? ' text-danger' : '' }}">
                <label>Tipo cucina</label>
                <select name="tipoCucina">
                  {% for cucina in tipiCucina %}
                    <option value="{{ cucina.id }}">{{ cucina.nome }}</option>
                  {% endfor %}
                </select>
                {% if errors.tipoCucina %}
                  <span class="help-block">{{ errors.tipoCucina | first }}</span>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="link-logo">Link per il logo</label>
                <input type="text" name="logo" id="link-logo" class="form-control" value="https://picsum.photos/200/300/?random" placeholder="Inserire un link esterno per un'immagine">
              </div>

            <button type="submit" class="btn btn-default">Registrami</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
