{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/log.css">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Registrazione nuovo account</h1>
          </div>
        <div class="panel-body">
          <form action="{{ path_for('auth.registra') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.email ? ' text-danger' : '' }}">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" value="{{ old.email }}" class="form-control" placeholder="example@mail.com">
              {% if errors.email %}
                <span class="help-block">{{ errors.email | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.password ? ' text-danger' : '' }}">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
              {% if errors.password %}
                <span class="help-block">{{ errors.password | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.repassword ? ' text-danger' : '' }}">
              <label for="repassword">Conferma Password</label>
              <input type="password" name="repassword" id="repassword" class="form-control">
              {% if errors.repassword %}
                <span class="help-block">{{ errors.repassword | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <h5>Tipi utente</h5>
              {% for tipo in tipiUtente %}
                <label for="radioTipoUtente{{ tipo.id }}">
                  <input type="radio" name="tipoUtente" id="radioTipoUtente{{ tipo.id }}" value="{{ tipo.id }}" required/> {{ tipo.nome }}
                </label>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-default">Avanti</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
