{% extends 'templates/app.twig' %}

{% block content %}

<link rel="stylesheet" href="/css/welcomeCss.css">


<a href="#fake" class="enter" onclick="return false;">ENTER</a>

<div class="page">
  <div class="main">
    <header class="clearfix">
        <div class="intro">
          <h1>BENVENUTO</h1>
        </div>
    </header>

    <section class="words">
      <div class="container">
        <p>
          Sei uno studente-lavoratore? <br/>
          Sei spesso impegnato e non hai tempo di preparare il pranzo? <br/>
          Vorresti gustare qualche buon pasto caldo anche quando sei all'universita'? <br/>
          Non sai cucinare? <br/>
          Oppure sei un ristonate e vuoi mettere a disposizione i tuoi piatti?<br/>
          <br/>
          <strong><em>SEI NEL POSTO GIUSTO!!</em></strong> <br/>
          <br/>
          Qui potrai confrontare molti ristoranti/pub/chioschi di Cesena ed effettuare
          ordini per il pranzo che verranno recapiti direttamente in sede universitaria.
          Se non vuoi perdere tempo o aspettare il fattorino fuori al freddo potrai anche
          indicare l'aula in cui ricevere il pasto. <br/>
          <a href="/ricerca">Cerca ristorante</a>
          <!--
            <?php
              session_start();
              if(isset($_SESSION['username'])){
                echo "<a href="/ricerca">Cerca ristorante</a>";
              }
            ?>
          -->
        </p>
      </div>
    </section>

      <section  class="clearfix"></section>

      <section class="words">
        <div class="container">
          <h3>Cosa trovi:</h3>
            <p>
              Qui potrai effettuare una ricerca sui ristoranti e applicare i filtri desiderati.
              Molti ristoranti effettuano sconti extra per gli studenti oppure ti permettono
              di accumulare punti con i quali potrai ricevere sconti! <br/>
              Prima di iniziare la ricerca <a href="/auth/registra">Crea un account</a>. <br/>
              Se sei già registrato effettua il <a href="/auth/login">
              Login</a>
            </p>
        </div>
      </section>

        <section  class="clearfix"></section>

        <section class="words">
          <div class="container">
            <h3>Come fare ordini e tipo di pagamento:</h3>
            <p>Una volta registrato potrai effettuare gli ordini che desideri.
              Successivamento riceverai una e-mail con la conferma.
              Tramite una sezione apposta potrai leggere i messaggi inviati dal fattorino
              per rimanere aggiornato sullo stato dell'ordine.
              Potrai decidere se pagare con carta al momento dell'effettuazione
              dell'ordine oppure pagare alla consegna in contanti.</p>
          </div>
        </section>
    </div>
  </div>

{% endblock %}
