h1{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 40px;
  margin-bottom: 32px;
  padding:12px 10px;
}

h4{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  color:#BB010C;
  font-size: 25px;
  margin-bottom: 32px;
}
p, div.form-group > label, div.form-group > div, select, button{
  font-family: 'Corbel';
}


button.btn{
  background-color: #BB0c01;
  color: white;
  margin-bottom: 20pt;
}

@media only screen and (min-width: 768px){
  h1{
    font-size: 52px;
  }
  h4{
    font-size: 35px;
  }

  div.row{
		width: 80%;
	}

  #myconsegna, input[name="codiceSconto"], select[name="tipo_spedizione"]{
    width: 80%;
  }
}
