h4, h5{
  font-family: "Trebuchet MS";
}
div#mainDescr > h4{
  font-size: 30px;
  color: #BB0C01;
  width: 100%;
  text-align: center;

}
section h5{
  font-size: 28px;
  margin: 2% auto;
}
section > a{
  font-family: "Corbel";
  font-size: 28px;
}

.container{
  margin:0 auto;
  max-width:1000px;
  width:90%;
}

div#imgLogo img{
  max-width: 150pt;
  max-height: 200pt;
  width: 100%;
}

div#imgLogo {
  margin-top: 5%;
}

section{
  margin: 20% auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

@media only screen and (min-width: 768px) {
  div#mainDescr > h4{
    font-size: 38px;
  }

  section h5{
    font-size: 36px;
  }

  section > a{
    font-size: 34px;
  }
  section{
    margin: 5% auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}
