table{
  margin-top: 5%;
  font-style: "Corbel";
}

h4, h5{
  font-family: "Trebuchet MS";
  margin-top: 5%;
  margin-bottom: 4%;
}

h4{
  font-size: 32px;
}

h5{
  font-size: 28px;
}

a.btn, button.btn{
  background-color: #BB0c01;
  color: white;

  margin-top: 5%;
  margin-bottom: 5%;

  font-family: "Corbel";
  text-align: center;
  padding: 5pt 30pt;
  margin-bottom: 20pt;
}

button.btn#save{
  float: right;
}

div.panel-body{
  display:inline;
}

a.btn:hover, button.btn:hover{
  color: black;
}


div.panel-body > li{
  margin: 10pt 5pt;

}
h6 {
  color: #bb0c01;
}

a#newp{
  margin-top: 10%;
  font-family: "Corbel";
}

table{
  font-family: "Corbel";
}

label{
  font-family: "Corbel";
  font-size: 25px;
}
input.form-control, select{
  font-family: "Corbel";
  font-size: 18px;
}

div.form-group{
  margin-top: 8%;
  margin-bottom: 8%;
}
#back{
  margin-bottom: 20pt;
  font-family: "Corbel";
  text-align: center;
}


@media only screen and (min-width: 768px) {
  a.btn, button.btn{
    margin-top: 2%;
    font-size: 22px;
  }
}
