body:not(nav){
  position:absolute;
  width:100%;
  height:100%;
  diplay:inline-block;
}

.header-h {
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 40px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding:12px 10px;
}

.btn{
  color: white;
  background-color: #bb010c;
  margin-top: 20pt;
  margin-bottom: 35pt;
}

.btn:hover{
	color: black;
}

.header-p {
  color:#708090;
  font-size:18px;
  font-family: 'Corbel';
}

.section-padding{
    padding: 0px 0px;
}

.marb-35{
  margin-bottom:35px;
}

.msg-row{
  margin-top:56px;
}

.media-body, .media-left, .media-right{
  display:table-cell;
  vertical-align: top;
}

.bg-1{
  background-color: #0099ff;
  width:36pt;
  height:36pt;
  border-radius:50%;
}

.bg-14{
  background-color: #00cc00;
  width:36pt;
  height:36pt;
  border-radius:50%;
}

.light-blue {
    color: #9699a6;
    font-size: 16px;
    margin-bottom: 1px;
    font-family: 'Corbel';
}
.media-body{
  margin-left:10pt;
  padding-left:13pt;
}
.media-2{
  margin-top:30pt;
}

.phone-in-talk, .hour-icon{
    font-size: 42pt;
    line-height: 72px;
    color: rgb(255, 255, 255);
}

div.media-body > table#orarioApertura{
 border-collapse: collapse;
 width: 100%;
 border: 2px solid black;
 background-color: white;
 font-size: 18px;
 font-family: 'Corbel';
 caption-side: top;
}

div#imgLogo > img{
  max-width: 150pt;
  max-height: 200pt;
  margin-bottom: 50pt;
}

@media only screen and (min-width: 768px) {
  div.information{
    width: 100%;
    margin-bottom: 20pt;
    min-height: 200pt;
  }

  div#imgLogo{
    float: left;
    width: 40%;
  }

  div#mainDescr{
    float: right;
    width: 60%;
  }

  div#imgLogo > img{
    width: 100%;
    max-width: 200pt;
    max-height: 200pt;
    height: auto;
  }
  div.recapiti{
    display: inline;
    width: 100%;
    margin-bottom: 5%;
  }

  div#tel{
    float: left;
    width: 35%;
  }

  div#orar{
    float: right;
    width: 65%;
  }

  div.media-body > table#orarioApertura{
    font-size: 22px;
    text-align: center;
    width: 100%;
  }

  .light-blue {
    font-size: 24px;
  }

  .btn{
    font-size: 24px;
  }

  .header-p{
    font-size: 30px;
  }

  .header-h{
    font-size: 52px;
  }
}
