.panel-body{
  font-family: "Corbel";
  font-size: 16px;
}

h1, div#tit{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 36px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding:12px 10px;
}

.btn{
	color: white;
	background-color: #BB010C;
	width: 100%;
  margin-bottom: 40pt;
}

div.file-upload{
  display: inline;
}

div.credenziali> a:last-of-type{
  border:0px;
  background-color:white;
  position:relative;
}

input[type=password], input[type=email], select{
  width: 100%;
  padding: 10pt 18pt;
  margin: 8pt 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12pt 18pt;
  margin: 18pt 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label{
	width: 100%;
	display: block;
}

div.credenziali{
	border-radius: 10pt;
  padding: 20pt;
	border: 2px solid #f1f1f1;
	margin-left: auto;
	margin-right: auto;
}

div.form-group>h5+label:first-of-type{
  font-size:0px;
  visibility: hidden;
}

@media only screen and (min-width: 768px){
	div.credenziali{
		width: 80%;
	}
	h1, div#tit{
		font-size: 52px;
	}
}
