.container{
  margin:0 auto;
  max-width:1000px;
  width:90%;
}

h1 {
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 40px;
  margin-bottom: 32px;
  padding:12px 10px;
}

div#heads{
  display: inline;
  border-bottom: 2px solid gray;
}
div#imm{
  float: left;
  width: 35%;
}

div#name{
  float: right;
  width: 65%;
}
ul {
  list-style:none;
}
.header-p {
  color:#9699a6;
  font-size:16px;
}
.section-padding{
    padding: 60px 0px;
}
.marb-35{
  margin-bottom:35px;
}
.bott{
  margin-bottom:35px;
  float: center;
  position: relative;
}
.menu-restaurant {
  width: 100%;
  float:left;
  padding:15px;
  position:realtive;
}
.menu-restaurant .menu-title .piatti {
  float:left;
  font-family: 'Trebuchet MS';
  text-transform:uppercase;
  letter-spacing:1px;
  color:#9699a6;
  font-size: 20px;
}

label.piatti{
  color: gray;
  font-size: 20px;
}

.menu-restaurant .menu-line{
  position: absolute;
  bottom:6px;
  border-bottom:1px dotted rgba(0,0,0,.3);
  margin-left: .6em;
  margin-right: .6em;
}

.menu-restaurant .menu-price{
  font-weight:600;
  position:absolute;
  right:0;
  top:0;
}

.menu-restaurant .menu-subtitle{
  display:block;
  float:left;
  color:#B1B1B1;
  font-family: 'Corbel';
  font-size: 16px;
}

.menu-restaurant span.clearfix{
  position:relative;
  display:block;
}

#menu-filters ul li a.active, #menu-filters ul li a:hover{
  background: #BB010C;
  color:#fff;
  border:1px solid #BB010C;
}

#menu-filters ul li{
  display:inline-block;
  color:#fff;
  text-transform:capitalize;
  letter-spacing:1px;
  margin-botttom:40px;
  margin-top: 40px;
}
#menu-filters ul li a{
  padding:10px 20px;
  font-size:14px;
  color:#565656;
  border-radius:15px;
  border:1px solid #BBBBBB;
  text-decoration:none;
  cursor:pointer;
  margin-bottom: 20%;
}

.btn{
  background-color: #bb010c;
  color: white;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.add-to-cart{
  position:relative;
  float:right;
}

.menu-restaurant{
	border-radius: 10px;
  padding: 20px;
	border: 2px solid #f1f1f1;
	margin-left: auto;
	margin-right: auto;
}

img{
  max-width: 150pt;
  max-height: 200pt;
}

@media only screen and (min-width: 768px){
  .header-h {
    font-size: 52px;
  }

  img{
    width: 50%;
    margin-top:0px;
    max-width: 150pt;
    max-height: 200pt;
  }
}
