h4{
  font-size:32px;
}

h5{
  font-size:24px;
  font-style:italic;
  font-family: 'Corbel';
  color:red;
}

table.table > tbody > tr> td > div > p:first-of-type{
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #f1f1f1;
	margin-left: auto;
  margin-right: auto;
  font-style:italic;
  font-family: 'Doodle Tipsy';
}
