h4{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 40px;
  padding:12pt 10pt;
}

label{
	font-family: 'Corbel';
  font-style: italic;
	color:black;
}

form{
	border-radius: 10px;
	padding: 20px;
	border: 2px solid #f1f1f1;
  margin-left: auto;
	margin-right: auto;
}

div.panel-body > img{
  margin-bottom: 5%;
  margin-top: 5%;
}

button.btn{
  padding: 5pt 30pt;
  background-color: #BB010C;
  float: right;
  margin-bottom: 20pt;
  font-family: "Corbel";
}

#back{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20pt;
  font-family: "Corbel";
  text-align: center;
}

@media only screen and (min-width: 768px){
  h4{
    font-size: 52px;
  }
}
