.container{
  margin:0 auto;
  max-width:1000px;
  width:90%;
}

div.row {
  background-color: #E9E9E9;
  border-radius: 2rem;
  border: 2px solid #BB010C;
  color:#47464e;
  padding: 2rem;
  font-family: 'Corbel';
  margin-top: 15px;
}

img[alt="carta di pagamento"]{
  display:none;
}

.card_title{
  font-family: 'Trebuchet MS';
  font-size: 35px;
  color:#BB010C;
}

label[for="carta"], label[for="intestatario_nome"], label[for="intestatario_cognome"]{
  margin-bottom: 0px;
  margin-top:10px;
  font-size: 18px;
  color:black;
}

input[type="text"], select[name="anno"], select[name="mese"] {
  background-color: transparent;
  border: 0;
  font: inherit;
  width: auto;
}

input[name="carta"], input[name="intestatario_nome"], input[name="intestatario_cognome"]{
  font-size: 1.5rem;
  font-style: italic;
  width: 90%;
}

input[name="cvv"]{
  width: 60%;
  text-align:center;
  margin-top:15px;
  margin-left:15%;
  font-style: italic;
}

form > div.form-group + div.form-group + div.form-group + div.form-group {
 display:inline;
 float:right;
 width: 30%;
 text-align:center;
}

form > div.form-group + div.form-group + div.form-group + div.form-group + div.form-group {
 display:inline;
 float:center;
 margin-right: 10px;
}

form > div.form-group + div.form-group + div.form-group + div.form-group + div.form-group +div.form-group {
 display:inline;
 float:left;
}

@media only screen and (min-width: 768px) {
  input[name="cvv"]{
    margin-top:-7px;
  }

  div.form-group{
    display:block;
    position: relative;
    right:60%;
  }

  .btn{
    position: relative;
    left:60%;
  }

  .card_title{
    font-size: 52px;
    position: relative;
    right:60%;
    width:200%;
  }

  label[for="carta"], label[for="intestatario_nome"], label[for="intestatario_cognome"]{
    font-size: 2rem;
  }

  img[alt="carta di pagamento"]{
    display:inline;
    float:right;
    height:70%;
    width:70%;
    margin-top:-80px;
    margin-right:-450px;
  }
}
