div.panel-body > form > button{
		color:white;
 }

 div.panel-body > img{
   max-width: 120pt;
   max-height: 180pt;
   width: 50%;
   height: auto;
 }

h4 {
  font-family: 'Trebuchet MS';
	font-style: italic;
	font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 22px;
  margin-top:10pt;
  margin-bottom: 20pt;
}

div.panel-heading, div.panel-body > form > h5, div.panel-body >h5{
	font-family: 'Trebuchet MS';
	font-style: italic;
	font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 22px;
}

div.panel-body > a:last-of-type{
  display:inline;
  box-sizing: border-box;
	width:40%;
	border: 5px solid #BB010C;
	padding: 5pt;
	height: 40pt;
	border-radius: 5px;
	outline: none;
	background-color: #BB010C;
	float:right;
}

div.panel-body > form > h5{
  display:inline;
  float:left;
}

div.form-group > div {
  padding: 15px;
  font-weight: bold;
  color:#ff5050;
}

div.panel-body > p:first-of-type{
  text-transform: capitalize;
}

div.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 35%;
  float: center;
}

div.information > div{
	font-style: italic;
  text-align: center;
  color:black;
  float: center;
  margin-top:5%;
  margin-bottom:5%;
}

button.btn{
  padding: 5pt 30pt;
  background-color: #BB010C;
  float: right;
  margin-bottom: 20pt;
  font-family: "Corbel";
}

button.btn:hover{
	color: black;
}

@media only screen and (min-width: 768px){
  h4{
    font-size: 32px;
  }
}
