
  .radio-label-vertical-wrapper {
    padding-bottom: 13px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }

  .radio-label-vertical-wrapper:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 30px;
    background: #efefef;
    position: absolute;
    bottom: 0;
  }

  .radio-label-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    text-align: center;
  }

  .radio-label-vertical input {
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -6px;
    display: block;
    cursor: pointer;
  }


label[for="feedback"]{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 35px;
  margin-bottom: 32px;
  padding:12px 10px;
}

td{
  display:inline;
}

@media only screen and (min-width: 768px){

label[for="feedback"]{
    font-size: 52px;
      padding-left:25%;
}

td{
  display:inline;
  text-align:center;
}
tr{
  position:relative;
  left:50%;
}
}
