.container{
  margin:0 auto !important;
  max-width:1000px !important;
  width:90% !important;
}

button {
	background-color: #BB010C;
	color: white;
}

div.form-group + button , div.panel-body > a{
	box-sizing: border-box;
	width: 100%;
	border: 5px solid #BB010C;
	padding: 5px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	background-color: #BB010C;
	margin-left: auto;
	margin-right: auto;
}

input.form-control{
	width: 100%;
}

.panel-heading > p{
	display:inline;
	font-style: oblique;
	font-size: small;
	line-height: 0.8;
}


.panel-body> div> div> a{
	font-family: 'Corbel';
	font-style: italic;
	font-weight: bold;
  text-align: center;
	text-transform: uppercase;
}

 .horizontal-scroll2 {
 width: 100%;
 height: 400px;
 background: url('/img/foot.png');
 -webkit-animation: backgroundScroll2 100s linear infinite;
 animation: backgroundScroll2 20s linear infinite;
 background-repeat: no-repeat;
 }

 @-webkit-keyframes backgroundScroll2 {
 from {background-position: -200% 0;}
 to {background-position: 0 0;}
 }

 @keyframes backgroundScroll2 {
 from {background-position: 0 0;}
 to {background-position: 100% 0;}
 }


 @media only screen and (min-width: 768px) {

   img{
     width: 70%;
   }

   .horizontal-scroll2{
     margin-top: 20px;
		 width: 100%;
   }
 }
