div.righe{
	border-radius: 10px;
  padding: 20px;
	border: 2px solid #f1f1f1;
	margin-left: auto;
	margin-right: auto;
}

div.panel-heading{
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:#BB010C;
  font-size: 40px;
  margin-bottom: 32px;
  padding:12px 10px;
}
table {
	font-family: 'Corbel';
}
th{
  font-style: italic;
  font-weight: bold;
  color:black;
  font-size: 23px;
  margin-bottom: 32px;
	padding-right: 15px;
}

@media only screen and (min-width: 768px){
  div.panel-heading{
    font-size: 52px;
  }
  h4{
    font-size: 35px;
  }

  div.row{
		width: 80%;
	}

  div.panel-body{
    position:relative;
  }

  tr>td:first-of-type{
    margin-left: 50px;
  }

	.btn{
		position:relative;
		left:80%;
	}

}
