
body{
  diplay:block;
  position:absolute;
  width:100%;
  height:100%;
  -moz-background-size:cover;
  background-size:cover;
}

div h2{
  font-size: 20px;
  font-family: 'Trebuchet MS';
}

div h3{
  font-size: 16px;
  font-family: 'Trebuchet MS';
  margin-top: 10pt;
}

label, input{
  font-family: "Corbel";
}

div.panel-body{
  display:inline-block;
  width: 100%;
}

div.panel-body > div > img{
  max-width: 140px;
  max-height: 80px;
  padding-right: 5px;
}

div.panel-body > div > div > a{
  display:inline-block;
  margin-top:35px;
  font-size: 20px;
  font-family: 'Trebuchet MS';
}

#description {
  font-size: 22px;
  margin-bottom: 50pt;
  font-family: 'Corbel';
  text-align: center;
}
div.panel-heading{
  margin-bottom: 10%;
}

.fornitoreScheme{
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.btn, .btnFilt{
  background-color: #BB010C;
  color: white;
  margin-top: 20px;
  font-family: 'Corbel';
}

div.wrapperTxt > p{
  font-size: 16px;
  font-family: 'Corbel';
}


@media only screen and (min-width: 768px) {


  .filt{
    float: left;
    width: 30%;
  }

  .main{
    float: right;
    width: 65%;
  }

  .fornitoreScheme{
    height: 200pt;
  }

  .wrapperImg {
    float: left;
    width: 50%;
    max-height: 200px;
  }

  .wrapperTxt {
    float: right;
    width: 50%;
  }

  div.fornitoreScheme > img{
    width: 100%;
    height: auto;
  }

  div.wrapperImg > img {
    width: 100%;
    height: auto;
    max-height: 170pt;
    max-width: 200pt;
    padding: 0;
  }

  div.wrapper > img{
    width: 35%;
    height: auto;
    margin-top: 5px;
  }

}
