html, body{
  background:#FFFFFF;
  position:relative;
  height:100%;
  margin:0;
  padding:0;
}
section.words{
  font-family: 'Corbel';
  font-size: 14px;
}
.page{
  display:block;
  float:left;
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
}
.loaded{
  overflow-y:auto;
}
.main{
  display:none;
}
.tl,.tr,.bl,.br{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background:url("/img/fruit.jpg") no-repeat center center fixed #000;
  -moz-background-size:cover;
  background-size:cover;
}
/* top left*/
.tl{
  top:0;
  top:-50%;
  left:-50%;
}
/* top right*/
.tr{
  top:-50%;
  left:50%;
}
/* botton left*/
.bl{
  top:50%;
  left:50%;
}
/* botton right*/
.br{
  top:50%;
  left:-50%;
}

.enter:after,
.enter:hover:after,
.enter,.enter:hover{
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}

.enter{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #BB010C;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 15px 2px #000;
  -moz-box-shadow: 0 0 15px 2px #000;
  box-shadow: 0 0 15px 2px #000;
}
.enter::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #3FB4BE;
  background-color: rgba(0, 235, 255, 0.44);
  z-index: 999999999;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 15px 2px #000;
  -moz-box-shadow: 0 0 15px 2px #000;
  box-shadow: 0 0 15px 2px #000;
}
.enter:hover{
  -webkit-box-shadow:0 0 4px 4px #0000ff; 
  -moz-box-shadow:0 0 4px 4px #00ff00;
  box-shadow:0 0 4px 4px #FFFFFF; /*aurea esterna*/
  color: #FFF;
}
.enter:hover:after{
  background-color: #2A2A2B;
  color: #FFF;
}
/* Layout
============================== */

*, *:before, *:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
::-webkit-scrollbar{
  background-color:#000;
  width:5px;
  height:5px;
}
::-webkit-scrollbar-thumb{
  height:10px;
  background-color:#333;
}

a.enter{
  font-family: 'Trebuchet MS';
  text-rendering:optimizeLegibility;
}

.container{
  margin:0 auto;
  max-width:850px;
  width:90%;
}
/* Header
================================== */
body {
  background:url("/img/fruit.jpg") no-repeat center center fixed #000;
  opacity: 0.8;
  -moz-background-size:cover;
  background-size:cover;
}
.intro{
  margin:10% 0;
}

header h1{
  color:#BB010C;
  font-weight: bold;
  font-style: italic;
  padding:12px 10px;
  display:inline-block;
  font-size:40px;
  text-transform:uppercase;
  margin-bottom:32px;
  font-family: 'Trebuchet MS';
}

header p{
  color: white;
  margin:0 auto;
}

/* Section
========================================= */
section.words{
  background:white;
  font-family: 'Corbel';
  font-size: 15px;
}
section{
  border-top:1px solid #eee;
  padding:2rem 0;
}
section:first-of-type{
  border-top:none;
}

@media only screen and (min-width: 768px) {
  section{
    padding:64px 0;
  }

  .intro{
    margin:64px 0;
  }

  header h1{
    font-size: 52px;
  }

  section.words{
    font-size: 20px;
  }
}

.clearfix:before,
.clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.clearfix{
  *zoom:1;
}
