{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/dash.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="col-md-12">
    <div class="container">

      <div class="information">
        <div class="col-md-12 text-center" id="imgLogo">
          <img src="/img/Logo.jpg" alt="logo UNIciBO"/>
        </div>
        <div class="col-md-12 text-center" id="mainDescr">
            <h4 class="header-h">{{ admin.nome }} {{ admin.cognome }}</h4>
        </div>
      </div>

      <div class="row msg-row">
        <div class="col-md-12 text-center setting">
          <div id="list">
            <div id="ord">
              <section>
                <h5>Utenti</h5>
                <a href="{{ path_for('admin.elencoUtenti') }}">Elenco utenti</a>
              </section>
            </div>
            <div id="prof">
              <section>
                <h5><i class="fa fa-user"></i>Profilo</h5>
                <a href="{{ path_for('utente.profilo') }}">Visualizza profilo</a>
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
