{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/psw.css">
<script src="{{ base_url() }}/js/changepw.js" type="text/javascript"></script>


  <div class="logo">
    <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
  </div>
<br/>

    <div class="col-md-8 offset-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          {% if utente.logo is not empty %}
            <img src="{{ utente.logo }}" alt="logo del fornitore {{ utente.nome_attivita }}"/>
          {% endif %}
          <form action="{{ path_for('admin.dettagliUtente', {'id': utente.id}) }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ utente.nome }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.cognome ? ' text-danger' : '' }}">
              <label for="cognome">Cognome</label>
              <input type="text" name="cognome" id="cognome" value="{{ utente.cognome }}" class="form-control">
              {% if errors.cognome %}
                <span class="help-block">{{ errors.cognome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.telefono ? ' text-danger' : '' }}">
              <label for="telefono">Telefono</label>
              <input type="text" name="telefono" id="telefono" value="{{ utente.telefono_cellulare }}" class="form-control">
              {% if errors.telefono %}
                <span class="help-block">{{ errors.telefono | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.email ? ' text-danger' : '' }}">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" value="{{ utente.email }}" class="form-control">
              {% if errors.email %}
                <span class="help-block">{{ errors.email | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.nomeAttivita ? ' text-danger' : '' }}">
              <label for="nomeAttivita">Nome attivita</label>
              <input type="text" name="nomeAttivita" id="nomeAttivita" value="{{ utente.nome_attivita }}" class="form-control">
              {% if errors.nomeAttivita %}
                <span class="help-block">{{ errors.nomeAttivita | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.via ? ' text-danger' : '' }}">
              <label for="via">Indirizzo via</label>
              <input type="text" name="via" id="via" value="{{ utente.indirizzo_via }}" class="form-control">
              {% if errors.via %}
                <span class="help-block">{{ errors.via | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.numero ? ' text-danger' : '' }}">
              <label for="numero">Indirizzo numero</label>
              <input type="text" name="numero" id="numero" value="{{ utente.indirizzo_numero }}" class="form-control">
              {% if errors.numero %}
                <span class="help-block">{{ errors.numero | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label>Citta</label>
              <select name="citta">
                {% for c in citta %}
                  <option
                    value="{{ c.id }}"
                    {% if utente.indirizzo_citta == c.id %}
                      selected
                    {% endif %}
                    >{{ c.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Tipo cucina</label>
              <select name="tipoCucina">
                {% for cucina in tipiCucina %}
                  <option
                    value="{{ cucina.id }}"
                    {% if utente.id_specializzazione == cucina.id %}
                      selected
                    {% endif %}
                    >{{ cucina.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Sconto</label>
              <select name="sconto">
                {% for s in sconti %}
                  <option
                    value="{{ s.id }}"
                    {% if utente.id_sconto == s.id %}
                      selected
                    {% endif %}
                    >{{ s.valore }} %
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Tipo utente</label>
              <select name="tipoUtente">
                {% for tipo in tipiUtente %}
                  <option
                    value="{{ tipo.id }}"
                    {% if utente.tipo == tipo.id %}
                      selected
                    {% endif %}
                    >{{ tipo.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="link-logo">Link per il logo</label>
              <input type="text" name="logo" id="link-logo" class="form-control" value="{{ utente.logo }}" placeholder="Inserire un link esterno per un'immagine">
            </div>
            <div>
              <input type="checkbox" id="cambiapw" name="cambiapw" value="1" onclick="clicks()" />
              <label for="cambiapw">Cambia password</label>
            </div>
            <fieldset id="changepsw">
              <div class="form-group{{ errors.password_old ? ' text-danger' : '' }}">
                <label for="password_old">Password attuale</label>
                <input type="password" name="password_old" id="password_old" class="form-control">
                {% if errors.password_old %}
                  <span class="help-block">{{ errors.password_old | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.password ? ' text-danger' : '' }}">
                <label for="password">Nuova password</label>
                <input type="password" name="password" id="password" class="form-control"/>
                {% if errors.password %}
                  <span class="help-block">{{ errors.password | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.repassword ? ' text-danger' : '' }}">
                <label for="repassword">Conferma nuova password</label>
                <input type="password" name="repassword" id="repassword" class="form-control">
                {% if errors.repassword %}
                  <span class="help-block">{{ errors.repassword | first }}</span>
                {% endif %}
              </div>
            </fieldset>
            <button type="submit" class="btn btn-default">Salva</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
