{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Elenco utenti:</h4>
          <table class="table">
            <caption>Elenco utenti</caption>
            <thead>
              <tr>
                <th id="id">Id.</th>
                <th id="cred">Credenziali</th>
                <th id="email">Email</th>
                <th id="tel">Telefono</th>
                <th id="tipoUt">Tipo utente</th>
                <th id="azione">Azione</th>
              </tr>
            </thead>
            <tbody>
              {% for utente in utenti %}
                <tr>
                  <td>
                    {{ utente.id }}
                  </td>
                  <td>
                    {% if utente.nome is defined %}
                      {{ utente.nome }}
                    {% endif %}
                    {% if utente.cognome is defined %}
                      {{ utente.cognome }}
                    {% endif %}
                    {% if utente.nome_attivita is defined %}
                      {{ utente.nome_attivita }}
                    {% endif %}
                  </td>
                  <td>
                    {{ utente.email }}
                  </td>
                  <td>
                    {{ utente.telefono_cellulare }}
                  </td>
                  <td>
                    {{ utente.tipoUtente.nome }}
                  </td>
                  <td>
                    <a href="{{ path_for('admin.dettagliUtente', {'id': utente.id}) }}">Modifica</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center" id="back">
            <a href="{{ path_for('cliente.dashboard') }}">Indietro</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
