{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/dash.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="col-md-12">
    <div class="container">

      <div class="information">
        <div class="col-md-12 text-center" id="imgLogo">
          <img src="{{ fornitore.logo }}" alt="logo {{ fornitore.nome_attivita }}"/>
        </div>
        <div class="col-md-12 text-center" id="mainDescr">
          <h4 class="header-h">{{ fornitore.nome_attivita }}</h4>
        </div>
      </div>

      <div class="row msg-row">
        <div class="col-md-12 text-center setting">
          <div id="list">
            <section>
              <h5>Gestione listini</h5>
              <a href="{{ path_for('fornitore.listini') }}">Elenco listini</a>
            </section>
          </div>
          <div id="ord">
            <section>
              <h5><i class="fa fa-bell"></i>Ordini</h5>
              <a href="{{ path_for('fornitore.ordini') }}">Ordini in arrivo</a><br>
              <a href="{{ path_for('fornitore.feedback') }}">Elenco feedback</a>
            </section>
          </div>
          <div id="prof">
            <section>
              <h5><i class="fa fa-user"></i>Profilo</h5>
              <a href="{{ path_for('utente.orario') }}">Orario settimanale</a><br>
              <a href="{{ path_for('utente.profilo') }}">Visualizza profilo</a>
            </section>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
