{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{ fornitore.logo }}" alt="logo del fornitore {{ fornitore.nome_attivita }}">
          <h4>{{ fornitore.nome_attivita }}</h4>
          <ul>
            {% for f in feedbacks %}
              <li>
                {{ f.cliente.nome }} {{ f.cliente.cognome }}
                <div>
                {% for s in range(low=1, high=f.votoMedio, step=1) %}
                <i class="fa fa-star"></i>
                {% endfor %}
                {% if (f.votoMedio!=5) %}
                {% for n in range(low=f.votoMedio+1, high=5, step=1) %}
                <i class="fa fa-star-o"></i>
                {% endfor %}
                {% endif %}
                </div>
                <div>
                  <h6>Commento:</h6> {{ f.descrizione.testo }}
                  <br>
                  <h6>Creato in:</h6><i>{{ f.data_creazione }}</i>
                </div>
                <br/>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="text-center" id="back">
          <a href="/fornitore/{{ fornitore.id }}">Indietro</a>
        </div>
      </div>
    </div>
{% endblock %}
