{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            {% if isNuovoIngrediente %}
              Nuovo Ingrediente
            {% else %}
              Ingrediente "{{ ingrediente.nome }}"
            {% endif %}
          </h4>
        </div>
        <div class="panel-body">
          <form action="{{ path_for('fornitore.listino.piatto.ingrediente', {'idListino': idListino, 'idPiatto': idPiatto, 'idIngrediente': idIngrediente }) }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ ingrediente.nome }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="categoria">Categoria ingrediente</label>
              <select name="categoria">
                {% for c in categorieIngrediente %}
                  <option value="{{ c.id }}" {% if ingrediente.id_categoria == c.id %} selected {% endif %}>{{ c.nome }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="text-center">
              <a href="{{ path_for('fornitore.listino.piatto', {'idListino': idListino, 'idPiatto': idPiatto }) }}">Indietro</a>
              <br/>
              <button type="submit" class="btn" id="save">Salva</button>
            </div>
            <input type="hidden" name="idListino" value="{{ idListino }}">
            <input type="hidden" name="idPiatto" value="{{ idPiatto }}">
            <input type="hidden" name="idIngrediente" value="{{ idIngrediente }}">
          </form>
        </div>
      </div>
  </div>
{% endblock %}
