{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-12">
        <div class="panel-heading">
          <h4>
            {% if isNuovoListino %}
              Nuovo listino
            {% else %}
              Listino "{{ listino.nome }}"
            {% endif %}
          </h4>
        </div>
        <div class="panel-body">
          <form action="{{ path_for('fornitore.listino', {'id': idListino }) }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ listino.nome }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="listino"><input type="checkbox" name="attivo" id="listino" {% if listino.attivo == '1' %}checked{% endif %}> Attivo</label>
            </div>
            {% if isNuovoListino %}
              <div>
                Dopo aver creato il listino potrai inserire tutti i piatti e i
                rispettivi ingredienti!
              </div>
            {% else %}
              <table class="table">
              <caption></caption>
                <thead>
                  <tr>
                    <th id="id">Id.</th>
                    <th id="nome">Nome</th>
                    <th id="ingredienti">Ingredienti</th>
                    <th id="prezzo">Prezzo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in piatti %}
                    <tr>
                      <td>
                        {{ p.id }}
                      </td>
                      <td>
                        <a href="/fornitore/listini/{{ idListino }}/piatto/{{ p.id }}">{{ p.nome }}</a>
                      </td>
                      <td>
                        {% for i in p.ingredienti %}
                          <div>
                            {{ i.nome }}
                          </div>
                        {% endfor %}
                      </td>
                      <td>
                        {{ p.prezzo }} €
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>
                <a id="newp" href="/fornitore/listini/{{ idListino }}/piatto/0">Nuovo piatto</a>
              </div>
            {% endif %}

            <div class="" id="back">
              <a href="{{ path_for('fornitore.listini') }}">Indietro</a>
              <br/>
              <button type="submit" class="btn" id="save">Salva</button>
            </div>
            <input type="hidden" name="idListino" value="{{ listino.id }}">
          </form>
        </div>
    </div>
{% endblock %}
