{% extends 'templates/app.twig' %}

{% block content %}
  <link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-12 text-center">
      <div class="container">
        <div class="col-md-12">
          <a class="btn" href="/fornitore/listini/0" role="button">Nuovo listino</a>
        </div>
          <h4>Elenco listini:</h4>
          <table class="table">
          <caption> </caption>
            <thead>
              <tr>
                <th id="id">Id.</th>
                <th id="nome">Nome</th>
                <th id="attivo">Attivo</th>
              </tr>
            </thead>
            <tbody>
              {% for listino in listini %}
                <tr>
                  <td>
                    {{ listino.id }}
                  </td>
                  <td>
                    <div>
                      <a href="/fornitore/listini/{{ listino.id }}">{{ listino.nome }}</a>
                    </div>
                  </td>
                  <td>
                    {% if listino.attivo == "1" %}
                      Si
                    {% else %}
                      No
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center" id="back">
            <a href="{{ path_for('fornitore.dashboard') }}">Indietro</a>
          </div>
        </div>
  </div>
{% endblock %}
