{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">
<script src="{{ base_url() }}/js/fornitore.js" type="text/javascript"></script>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Elenco ordini:</h4>
          <table class="table">
            <caption> </caption>
            <thead>
              <tr>
                <th id="id">Id.</th>
                <th id="cliente">Cliente</th>
                <th id="ordine">Ordine</th>
                <th id="pagamento">Pagamento</th>
                <th id="totale">Totale</th>
                <th id="stato">Stato</th>
              </tr>
            </thead>
            <tbody>
              {% for ordine in ordini %}
                <tr>
                  <td headers="id">
                    {{ ordine.id }}
                  </td>
                  <td headers="cliente">
                    <div>
                      {{ ordine.cliente.nome }} {{ ordine.cliente.cognome }}
                    </div>
                    <div>
                      {{ ordine.cliente.telefono_cellulare }}
                    </div>
                  </td>
                  <td headers="ordine">
                    {% for p in ordine.piatti %}
                      <div>
                        № {{ p.pivot.quantita }} {{ p.nome }}
                      </div>
                    {% endfor %}
                  </td>
                  <td headers="pagamento">
                    {{ ordine.dettagliPagamento.tipoPagamento.nome}}
                  </td>
                  <td headers="totale">
                    € {{ ordine.totale }}
                  </td>
                  <td headers="stato">
                    {% if ordine.evaso == "0" %}
                      <a href="javascript:void(0);" onclick="evadereOrdine('{{ ordine.id }}')">Evadere</a>
                    {% else %}
                      Evaso
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center" id="back">
            <a href="{{ path_for('fornitore.dashboard') }}">Indietro</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
