{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            {% if isNuovoPiatto %}
              Nuovo Piatto
            {% else %}
              Piatto "{{ piatto.nome }}"
            {% endif %}
          </h4>
        </div>
        <div class="panel-body">
          <form action="{{ path_for('fornitore.listino.piatto', {'idListino': idListino, 'idPiatto': idPiatto }) }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ piatto.nome }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.prezzo ? ' text-danger' : '' }}">
              <label for="prezzo">Prezzo</label>
              <input type="text" name="prezzo" id="prezzo" value="{{ piatto.prezzo }}" class="form-control">
              {% if errors.prezzo %}
                <span class="help-block">{{ errors.prezzo | first }}</span>
              {% endif %}
            </div>
            {% if isNuovoPiatto %}
              <div>
                Si potra inserire gli ingredienti dopo la creazione del piatto
              </div>
            {% else %}
              <table class="table">
              <caption> </caption>
                <thead>
                  <tr>
                    <th id="id">Id.</th>
                    <th id="nome">Nome</th>
                    <th id="cat">Categoria</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in piatto.ingredienti %}
                    <tr>
                      <td>
                        {{ i.id }}
                      </td>
                      <td>
                        <a href="/fornitore/listini/{{ idListino }}/piatto/{{ idPiatto }}/ingrediente/{{ i.id }}">{{ i.nome }}</a>
                      </td>
                      <td>
                        {{ i.categoria.nome }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="text-center">
                <a href="/fornitore/listini/{{ idListino }}/piatto/{{ idPiatto }}/ingrediente/0">Nuovo ingrediente</a>
              </div>
            {% endif %}
            <div class="text-center">
              <a href="{{ path_for('fornitore.listino', {'id': idListino }) }}">Indietro</a>
              <br/>
              <button type="submit" class="btn" id="save">Salva</button>
            </div>
            <input type="hidden" name="idListino" value="{{ idListino }}">
            <input type="hidden" name="idPiatto" value="{{ idPiatto }}">


          </form>
        </div>
      </div>
    </div>
{% endblock %}
