{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/orario.css">
    <div class="col-md-8 offset-md-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Orario settimanale</h4></div>
        <div class="panel-body">
          <img src="{{ utente.logo }}" alt="logo del fornitore {{ utente.nome_attivita }}"/>

          <form action="{{ path_for('utente.orario') }}" method="POST" autocomplete="off">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="lunedi_dal">Lunedi dalle</label>
                <input type="text" name="lunedi_dal" id="lunedi_dal" value="{{ utente.orarioSettimanale.lunedi_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="lunedi_al">Lunedi alle</label>
                <input type="text" name="lunedi_al" id="lunedi_al" value="{{ utente.orarioSettimanale.lunedi_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="martedi_dal">Martedi dalle</label>
                <input type="text" name="martedi_dal" id="martedi_dal" value="{{ utente.orarioSettimanale.martedi_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="martedi_al">Martedi alle</label>
                <input type="text" name="martedi_al" id="martedi_al" value="{{ utente.orarioSettimanale.martedi_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="mercoledi_dal">Mercoledi dalle</label>
                <input type="text" name="mercoledi_dal" id="mercoledi_dal" value="{{ utente.orarioSettimanale.mercoledi_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="mercoledi_al">Mercoledi alle</label>
                <input type="text" name="mercoledi_al" id="mercoledi_al" value="{{ utente.orarioSettimanale.mercoledi_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="giovedi_dal">Giovedi dalle</label>
                <input type="text" name="giovedi_dal" id="giovedi_dal" value="{{ utente.orarioSettimanale.giovedi_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="giovedi_al">Giovedi alle</label>
                <input type="text" name="giovedi_al" id="giovedi_al" value="{{ utente.orarioSettimanale.giovedi_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="venerdi_dal">Venerdi dalle</label>
                <input type="text" name="venerdi_dal" id="venerdi_dal" value="{{ utente.orarioSettimanale.venerdi_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="venerdi_al">Venerdi alle</label>
                <input type="text" name="venerdi_al" id="venerdi_al" value="{{ utente.orarioSettimanale.venerdi_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sabato_dal">Sabato dalle</label>
                <input type="text" name="sabato_dal" id="sabato_dal" value="{{ utente.orarioSettimanale.sabato_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="sabato_al">Sabato alle</label>
                <input type="text" name="sabato_al" id="sabato_al" value="{{ utente.orarioSettimanale.sabato_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="domenica_dal">Domenica dalle</label>
                <input type="text" name="domenica_dal" id="domenica_dal" value="{{ utente.orarioSettimanale.domenica_dal }}" class="form-control form-control-inline">
              </div>
              <div class="form-group col-md-6">
                <label for="domenica_al">Domenica alle</label>
                <input type="text" name="domenica_al" id="domenica_al" value="{{ utente.orarioSettimanale.domenica_al }}" class="form-control form-control-inline">
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn">Salva</button>
              <br/>
            </div>
          </form>
        </div>
        <div class="col-md-12 text-center" id="back">
          <a href="{{ path_for('fornitore.dashboard') }}">Indietro</a>
        </div>
      </div>
    </div>
{% endblock %}
