{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/psw.css">
<script src="{{ base_url() }}/js/changepw.js" type="text/javascript"></script>


    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Profilo {{utente.nome_attivita}}</h4></div>
        <div class="panel-body">
          <img src="{{ utente.logo }}" alt="logo del fornitore {{ utente.nome_attivita }}"/>

          <form action="{{ path_for('utente.profilo') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nomeAttivita ? ' text-danger' : '' }}">
              <label for="nomeAttivita">Nome attivita'</label>
              <input type="text" name="nomeAttivita" id="nomeAttivita" value="{{ utente.nome_attivita }}" class="form-control">
              {% if errors.nomeAttivita %}
                <span class="help-block">{{ errors.nomeAttivita | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.via ? ' text-danger' : '' }}">
              <label for="via">Indirizzo via</label>
              <input type="text" name="via" id="via" value="{{ utente.indirizzo_via }}" class="form-control">
              {% if errors.via %}
                <span class="help-block">{{ errors.via | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.numero ? ' text-danger' : '' }}">
              <label for="numero">Indirizzo numero</label>
              <input type="text" name="numero" id="numero" value="{{ utente.indirizzo_numero }}" class="form-control">
              {% if errors.numero %}
                <span class="help-block">{{ errors.numero | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.telefono ? ' text-danger' : '' }}">
              <label for="telefono">Telefono</label>
              <input type="text" name="telefono" id="telefono" value="{{ utente.telefono_cellulare }}" class="form-control">
              {% if errors.telefono %}
                <span class="help-block">{{ errors.telefono | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label>Citta'</label>
              <select name="citta">
                {% for c in citta %}
                  <option
                    value="{{ c.id }}"
                    {% if utente.indirizzo_citta == c.id %}
                      selected
                    {% endif %}
                    >{{ c.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Tipo cucina</label>
              <select name="tipoCucina">
                {% for cucina in tipiCucina %}
                  <option
                    value="{{ cucina.id }}"
                    {% if utente.id_specializzazione == cucina.id %}
                      selected
                    {% endif %}
                    >{{ cucina.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Sconto</label>
              <select name="sconto">
                {% for s in sconti %}
                  <option
                    value="{{ s.id }}"
                    {% if utente.id_sconto == s.id %}
                      selected
                    {% endif %}
                    >{{ s.valore }} %
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="link-logo">Link per il logo</label>
              <input type="text" name="logo" id="link-logo" class="form-control" value="{{ utente.logo }}" placeholder="Inserire un link esterno per un'immagine">
            </div>
            <div>
              <input type="checkbox" id="cambiapw" name="cambiapw" value="1" onclick="clicks()" />
              <label for="cambiapw">Cambia password</label>
            </div>
            <fieldset id="changepsw">
              <div class="form-group{{ errors.password_old ? ' text-danger' : '' }}">
                <label for="password_old">Password attuale</label>
                <input type="password" name="password_old" id="password_old" class="form-control">
                {% if errors.password_old %}
                  <span class="help-block">{{ errors.password_old | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.password ? ' text-danger' : '' }}">
                <label for="password">Nuova password</label>
                <input type="password" name="password" id="password" class="form-control"/>
                {% if errors.password %}
                  <span class="help-block">{{ errors.password | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.repassword ? ' text-danger' : '' }}">
                <label for="repassword">Conferma nuova password</label>
                <input type="password" name="repassword" id="repassword" class="form-control">
                {% if errors.repassword %}
                  <span class="help-block">{{ errors.repassword | first }}</span>
                {% endif %}
              </div>
            </fieldset>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn">Salva</button>
              <br/>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
