{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/psw.css">
<script src="{{ base_url() }}/js/changepw.js" type="text/javascript"></script>


  <div class="logo">
    <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
  </div>
<br/>

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="{{ path_for('utente.profilo') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.nome ? ' text-danger' : '' }}">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" value="{{ utente.nome }}" class="form-control">
              {% if errors.nome %}
                <span class="help-block">{{ errors.nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.cognome ? ' text-danger' : '' }}">
              <label for="cognome">Cognome</label>
              <input type="text" name="cognome" id="cognome" value="{{ utente.cognome }}" class="form-control">
              {% if errors.cognome %}
                <span class="help-block">{{ errors.cognome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.telefono ? ' text-danger' : '' }}">
              <label for="telefono">Telefono</label>
              <input type="text" name="telefono" id="telefono" value="{{ utente.telefono_cellulare }}" class="form-control">
              {% if errors.telefono %}
                <span class="help-block">{{ errors.telefono | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label>Citta</label>
              <select name="citta">
                {% for c in citta %}
                  <option
                    value="{{ c.id }}"
                    {% if utente.indirizzo_citta == c.id %}
                      selected
                    {% endif %}
                    >{{ c.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div>
              <input type="checkbox" id="cambiapw" name="cambiapw" value="1" onclick="clicks()" />
              <label for="cambiapw">Cambia password</label>
            </div>
            <fieldset id="changepsw">
              <div class="form-group{{ errors.password_old ? ' text-danger' : '' }}">
                <label for="password_old">Password attuale</label>
                <input type="password" name="password_old" id="password_old" class="form-control">
                {% if errors.password_old %}
                  <span class="help-block">{{ errors.password_old | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.password ? ' text-danger' : '' }}">
                <label for="password">Nuova password</label>
                <input type="password" name="password" id="password" class="form-control"/>
                {% if errors.password %}
                  <span class="help-block">{{ errors.password | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.repassword ? ' text-danger' : '' }}">
                <label for="repassword">Conferma nuova password</label>
                <input type="password" name="repassword" id="repassword" class="form-control">
                {% if errors.repassword %}
                  <span class="help-block">{{ errors.repassword | first }}</span>
                {% endif %}
              </div>
            </fieldset>
            <button type="submit" class="btn btn-default">Salva</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
