{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/psw.css">
<script src="{{ base_url() }}/js/changepw.js" type="text/javascript"></script>


  <div class="logo">
    <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
  </div>
<br/>

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="{{ path_for('utente.profilo') }}" method="POST" autocomplete="off">
            <div>
              <input type="checkbox" id="cambiapw" name="cambiapw" value="1" onclick="clicks()" />
              <label for="cambiapw">Cambia password</label>
            </div>
            <fieldset id="changepsw">
              <div class="form-group{{ errors.password_old ? ' text-danger' : '' }}">
                <label for="password_old">Password attuale</label>
                <input type="password" name="password_old" id="password_old" class="form-control">
                {% if errors.password_old %}
                  <span class="help-block">{{ errors.password_old | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.password ? ' text-danger' : '' }}">
                <label for="password">Nuova password</label>
                <input type="password" name="password" id="password" class="form-control"/>
                {% if errors.password %}
                  <span class="help-block">{{ errors.password | first }}</span>
                {% endif %}
              </div>
              <div class="form-group{{ errors.repassword ? ' text-danger' : '' }}">
                <label for="repassword">Conferma nuova password</label>
                <input type="password" name="repassword" id="repassword" class="form-control">
                {% if errors.repassword %}
                  <span class="help-block">{{ errors.repassword | first }}</span>
                {% endif %}
              </div>
            </fieldset>
            <button type="submit" class="btn">Salva</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
