<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNIciBO</title>
    <link rel="shortcut icon" href="{{ base_url() }}/img/Logo1.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ base_url() }}/css/app.css">

  </head>
  <!-- Questi script saranno sempre accessibili in qualunque pagina -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ base_url() }}/js/javaScript.js" type="text/javascript"></script>

  <body>

    <!-- Barra di navigazione che sara sempre visibile in qualunque pagina -->
    {% include 'templates/partials/navigation.twig' %}

    <div class="container">
      {% include 'templates/partials/flash.twig' %}

      <!-- Qui sara visualizzato il contenuto dinamico che dipende dall'url fornito -->
      <!-- Il nostro progetto in pratica si vede qui, il resto di questo file e' sempre uguale -->
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
