<nav>
  <div class="container">
    <a class="name" href="{{ path_for('home') }}">UNIciBO</a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <span><img class="manImg" src="/img/hamb.png" alt="hamburger-menu"/></img></span>
      </span>

    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path_for('home') }}">Principale <span class="sr-only">(current)</span></a>
        </li>
        {% if auth.check %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropDownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ auth.getUserCredentials }}</a>
            <div class="dropdown-menu" aria-labelledby="dropDownId">
              {% if user.tipoUtente.nome == 'Cliente' %}
                <a class="dropdown-item" href="{{ path_for('cliente.ricerca') }}">Ricerca ristorante</a>
                <a class="dropdown-item" href="{{ path_for('cliente.dashboard') }}">Dashboard</a>
              {% elseif user.tipoUtente.nome == 'Fornitore' %}
                <a class="dropdown-item" href="{{ path_for('fornitore.dashboard') }}">Dashboard</a>
              {% elseif user.tipoUtente.nome == 'Amministratore' %}
                <a class="dropdown-item" href="{{ path_for('admin.dashboard') }}">Dashboard</a>
              {% elseif user.tipoUtente.nome == 'Fattorino' %}
                <a class="dropdown-item" href="{{ path_for('fattorino.ordini') }}">Ordini</a>
              {% endif %}
              <a class="dropdown-item" href="{{ path_for('utente.profilo') }}">Profilo</a>
              <a class="dropdown-item" href="{{ path_for('auth.logout') }}">Esci</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('auth.registra') }}">Registrati</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('auth.login') }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
