{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/cart.css">
<script src="{{ base_url() }}/js/map.js" type="text/javascript"></script>
<style>
  div#imgpt > img{
    min-width: 476px;
    max-width: 477px;
  }

  div#imgpp > img{
    min-width: 503px;
    max-width: 504px;
  }
</style>

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Carrello</h1>
        </div>
        <div class="panel-body">
          <form action="" method="" autocomplete="off">
            <h4>Consegna in:</h4>
            <div class="form-group">
              <label for="">Seleziona piano:</label>
              <div>
                <a href="javascript:void(0);" onclick="groundFloor()" value="pt"> - Piano Terra</a>
              </div>
              <div>
                <a href="javascript:void(0);" onclick="firstFlat()" value="pp"> - Piano Primo</a>
              </div>
            </div>
          </form>
          <p>Aula selezionata:
          <span id="aula" style="font-weight: bold;"></span>
          </p>
          <div class="maps">
            <div id="imgpt">
                  <img src="{{ base_url() }}/img/PianoTerra.png"
                  alt="Piantina Piano terra" usemap="#ptmap"/>
                <map name="ptmap">
                  <area target="" data-id="1" alt="Ingresso Piano Terra" title="Ingresso Piano Terra" href="javascript:void(0);" coords="165,6,197,104,163,13" shape="rect">
                   <area target="" data-id="2" alt="Aula Magna 3.4" title="Aula Magna 3.4" href="javascript:void(0);" coords="153,121,91,42" shape="rect">
                   <area target="" data-id="3" alt="Spazio Studenti" title="Spazio Studenti" href="javascript:void(0);" coords="117,7,159,32" shape="rect">
                   <area target="" data-id="4" alt="Aula 2.1" title="Aula 2.1" href="javascript:void(0);" coords="253,55,214,7" shape="rect">
                   <area target="" data-id="5" alt="Lab Vela 2.2" title="Lab Vela 2.2" href="javascript:void(0);" coords="257,7,307,54" shape="rect">
                   <area target="" data-id="6" alt="Aula 2.3" title="Aula 2.3" href="javascript:void(0);" coords="311,7,335,52" shape="rect">
                   <area target="" data-id="7" alt="Aula 2.4" title="Aula 2.4" href="javascript:void(0);" coords="339,8,361,52" shape="rect">
                   <area target="" data-id="8" alt="Aula 2.5" title="Aula 2.5" href="javascript:void(0);" coords="366,8,389,52" shape="rect">
                   <area target="" data-id="9" alt="Aula 2.6" title="Aula 2.6" href="javascript:void(0);" coords="393,7,415,54" shape="rect">
                   <area target="" data-id="10" alt="Aula 2.7" title="Aula 2.7" href="javascript:void(0);" coords="420,7,442,45" shape="rect">
                   <area target="" data-id="11" alt="Aula 2.8" title="Aula 2.8" href="javascript:void(0);" coords="447,8,470,45" shape="rect">
                   <area target="" data-id="12" alt="Aula 2.9" title="Aula 2.9" href="javascript:void(0);" coords="419,79,471,121" shape="rect">
                   <area target="" data-id="13" alt="Aula 2.10" title="Aula 2.10" href="javascript:void(0);" coords="392,77,417,121" shape="rect">
                   <area target="" data-id="14" alt="Aula 2.11" title="Aula 2.11" href="javascript:void(0);" coords="378,121,349,96" shape="rect">
                   <area target="" data-id="15" alt="Aula 2.12" title="Aula 2.12" href="javascript:void(0);" coords="258,74,306,121" shape="rect">
                   <area target="" data-id="16" alt="Aula 2.13" title="Aula 2.13" href="javascript:void(0);" coords="229,73,251,120" shape="rect">
                   <area target="" data-id="17" alt="Laboratorio LaMo" title="Laboratorio LaMo" href="javascript:void(0);" coords="465,339,393,295" shape="rect">
                   <area target="" data-id="18" alt="Laboratorio Disegno 2.17" title="Laboratorio Disegno 2.17" href="javascript:void(0);" coords="436,230,467,276" shape="rect">
                   <area target="" data-id="19" alt="Laboratorio Disegno 2.16" title="Laboratorio Disegno 2.16" href="javascript:void(0);" coords="395,231,428,275" shape="rect">
                   <area target="" data-id="20" alt="Laboratorio Disegno 2.15" title="Laboratorio Disegno 2.15" href="javascript:void(0);" coords="285,244,333,276" shape="rect">
                   <area target="" data-id="21" alt="Laboratorio Disegno 2.14" title="Laboratorio Disegno 2.14" href="javascript:void(0);" coords="228,244,278,276" shape="rect">
                 </map>
            </div>

            <div id="imgpp">
                <img src="{{ base_url() }}/img/PrimoPiano.png"
                alt="Piantina Piano primo" usemap="#ppmap"/>

              <map name="ppmap">
                  <area target="" data-id="2" alt="Aula Magna 3.4" title="Aula Magna 3.4" href="javascript:void(0);" shape="rect" coords="92,57,153,121" />
                  <area target="" data-id="22" alt="Laboratorio LIB" title="Laboratorio LIB" href="javascript:void(0);" coords="117,18,198,55" shape="rect">
                  <area target="" data-id="23" alt="Laboratorio LIB2" title="Laboratorio LIB2" href="javascript:void(0);" coords="215,20,250,18,253,67,202,68,200,46,215,43,215,46" shape="poly">
                  <area target="" data-id="24" alt="Laboratorio informatico 3.1" title="Laboratorio informatico 3.1" href="javascript:void(0);" coords="257,20,308,66" shape="rect">
                  <area target="" data-id="25" alt="Laboratorio Lele 3.2" title="Laboratorio Lele 3.2" href="javascript:void(0);" coords="323,20,324,36,310,36,313,65,364,65,362,21" shape="poly">
                  <area target="" data-id="26" alt="Laboratorio" title="Laboratorio" href="javascript:void(0);" coords="393,18,447,58" shape="rect">
                  <area target="" data-id="27" alt="Laboratorio 1 Elettronica e Telecominicazioni" title="Laboratorio 1 Elettronica e Telecominicazioni" href="javascript:void(0);" coords="443,131,395,86" shape="rect">
                  <area target="" data-id="28" alt="Laboratorio ICM" title="Laboratorio ICM" href="javascript:void(0);" coords="389,132,339,110" shape="rect">
                  <area target="" data-id="29" alt="Laboratorio informatico 3.3" title="Laboratorio informatico 3.3" href="javascript:void(0);" coords="308,131,258,87" shape="rect">
                  <area target="" data-id="30" alt="Laboratorio disegno 3.5" title="Laboratorio disegno 3.5" href="javascript:void(0);" coords="120,310,172,345" shape="rect">
                  <area target="" data-id="31" alt="Laboratorio disegno 3.6" title="Laboratorio disegno 3.6" href="javascript:void(0);" coords="175,312,225,345" shape="rect">
                  <area target="" data-id="32" alt="Aula 3.7" title="Aula 3.7" href="javascript:void(0);" coords="230,310,282,345" shape="rect">
                  <area target="" data-id="33" alt="Laboratorio disegno 3.8" title="Laboratorio disegno 3.8" href="javascript:void(0);" coords="284,311,335,345" shape="rect">
                  <area target="" data-id="34" alt="Laboratorio disegno 3.9" title="Laboratorio disegno 3.9" href="javascript:void(0);" coords="339,311,389,343" shape="rect">
                  <area target="" data-id="35" alt="Laboratorio LaMo" title="Laboratorio LaMo" href="javascript:void(0);" coords="394,312,444,352" shape="rect">
                  <area target="" data-id="36" alt="Laboratorio LaMo VidA" title="Laboratorio LaMo VidA" href="javascript:void(0);" coords="467,275,447,242" shape="rect">
                  <area target="" data-id="37" alt="Aula 3.10" title="Aula 3.10" href="javascript:void(0);" coords="444,287,420,241" shape="rect">
                  <area target="" data-id="38" alt="Aula 3.11" title="Aula 3.11" href="javascript:void(0);" coords="416,285,394,240" shape="rect">
                  <area target="" data-id="39" alt="Laboratorio di Sintesi 3.12" title="Laboratorio di Sintesi 3.12" href="javascript:void(0);" coords="310,270,337,291" shape="rect">
                  <area target="" data-id="40" alt="Laboratorio di Sintesi 3.13" title="Laboratorio di Sintesi 3.13" href="javascript:void(0);" coords="284,271,308,291" shape="rect">
                  <area target="" data-id="41" alt="Laboratorio di Sintesi 3.14" title="Laboratorio di Sintesi 3.14" href="javascript:void(0);" coords="259,270,282,291" shape="rect">
                  <area target="" data-id="42" alt="Laboratorio di Sintesi 3.15" title="Laboratorio di Sintesi 3.15" href="javascript:void(0);" coords="230,270,254,290" shape="rect">
                  <area target="" data-id="43" alt="Laboratorio di Sintesi 3.16" title="Laboratorio di Sintesi 3.16" href="javascript:void(0);" coords="202,268,227,291" shape="rect">
                  <area target="" data-id="44" alt="Zona Ristoro" title="Zona Ristoro" href="javascript:void(0);" coords="128,151,178,151,177,260,127,260,125,218,142,218,139,152" shape="poly">
                  <area target="" data-id="45"alt="Ingresso Piano Primo" title="Ingresso Piano Primo" href="javascript:void(0);" coords="32,102,82,317" shape="rect">
              </map>
            </div>
          </div>

          <form action="{{ path_for('cliente.carrello.procedi') }}" method="POST" autocomplete="off">
            <h4>Dettagli consegna:</h4>
            <div class="form-group{{ errors.indirizzo_via ? ' text-danger' : '' }}">
              <label></label>
              <label>Aula:</label>
              <select id="myconsegna" name="luogoConsegna">
                {% for l in luoghiConsegna %}
                  <option value="{{ l.id }}">{{ l.nome }}</option>
                {% endfor %}
              </select>
            <div class="form-group">
              <label>Tipo spedizione</label>
              <select name="tipo_spedizione">
                {% for ts in tipiSpedizione %}
                  <option value="{{ ts.id }}">{{ ts.nome }} (€ {{ ts.tariffa }})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Pagamento</label>
              {% for tp in tipiPagamento %}
                <div>
                  <label>
                    <input type="radio" name="tipoPagamento" value="{{ tp.id }}" required/> {{ tp.nome }}
                  </label>
                </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-default">Procedi</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
