{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/ordine.css">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="card_title">Dettagli pagamento</h3>
          <form action="{{ path_for('cliente.carrello.pagamento') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.carta ? ' text-danger' : '' }}">
              <img src="/img/master-card.png" alt="carta di pagamento"/>
              <label for="carta">Numero carta</label>
              <input type="text" name="carta"  id="carta" value="{{ old.carta }}" placeholder="4023 0000 1111 2222" class="form-control"/>
              {% if errors.carta %}
                <span class="help-block">{{ errors.carta | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.intestatario_nome ? ' text-danger' : '' }}">
              <label for="intestatario_nome">Intestatario nome</label>
              <input type="text" name="intestatario_nome" id="intestatario_nome" value="{{ old.intestatario_nome }}" placeholder="Mario" class="form-control"/>
              {% if errors.intestatario_nome %}
                <span class="help-block">{{ errors.intestatario_nome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.intestatario_cognome ? ' text-danger' : '' }}">
              <label for="intestatario_cognome">Intestatario cognome</label>
              <input type="text" name="intestatario_cognome" id="intestatario_cognome" value="{{ old.intestatario_cognome }}" placeholder="Rossi" class="form-control"/>
              {% if errors.intestatario_cognome %}
                <span class="help-block">{{ errors.intestatario_cognome | first }}</span>
              {% endif %}
            </div>
            <div class="form-group{{ errors.cvv ? ' text-danger' : '' }}">
              <label for="cvv">CCV</label>
              <input type="text" name="cvv" id="cvv" value="{{ old.cvv }}" placeholder="123" class="form-control"/>
              {% if errors.cvv %}
                <span class="help-block">{{ errors.cvv | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label>Anno scadenza</label><br/>
              <select name="anno">
                {% for a in range(low=2019, high=2025, step=1) %}
                  <option value="{{ a }}">
                    {{ a }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Mese scadenza</label><br/>
              <select name="mese">
                {% for m in range(low=1, high=12, step=1) %}
                  <option value="{{ m }}">
                    {{ m }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-default">Procedi</button>
          </form>
       </div>
      </div>
    </div>
  </div>
{% endblock %}
