{% extends 'templates/app.twig' %}

{% block content %}

<link rel="stylesheet" href="/css/riepilogo.css">

    <div class="col-md-6 offset-md-3 righe">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Dettagli Ordine<h1></div>

        <div class="panel-body">
          <div>
            <div class="form-group">
              <table class="table-responsive">
              <caption>Dettagli ordini </caption>
                <tbody>
                  <tr>
                    <th id="ordine">
                      Ordine:
                    </th>
                    <td>
                      {% for p in piatti %}
                        <div>
                          № {{ p.pivot.quantita }} {{ p.nome }}:
                          ({% for i in p.ingredienti %} <span>{{ i.nome }};</span> {% endfor %})
                        </div>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <th id="consegna">
                      Consegna in:
                    </th>
                    <td>
                      <div>
                        {{ indirizzo_spedizione.luogo }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="pagamento">
                      Pagamento:
                    </th>
                    <td>
                      <div>
                        {{ pagamento }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="sconto">
                      Sconto:
                    </th>
                    <td>
                      <div>
                        - {{ sconto }} %
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="spedizione">
                      Spedizione:
                    </th>
                    <td>
                      <div>
                        {{ spedizione.tariffa }} €
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="totale">
                      Totale:
                    </th>
                    <td>
                      <div>
                        {{ totale }} € (Spedizione inclusa)
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center">
            <a href="{{ path_for('cliente.messaggi') }}">Indietro</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
