{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/recensioni.css">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="{{ path_for('cliente.feedback', {'id': ordine.id}) }}" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="feedback">Recensione</label>
              <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <table>
            <caption></caption>
              <tbody>
                {% for p in ordine.piatti %}
                  <tr>
                    <td>
                      <div class="form-group">
                        <label>{{ p.nome }}</label>
                      </div>
                    </td>
                    <td>
                      <div class="radio-label-vertical-wrapper">
                        <div class="form-group">
                          {% for voto in range(low=1, high=5, step=1) %}
                          <label class="radio-label-vertical">
                            <input type="radio" name="voto_piatto_{{ p.id }}" value="{{ voto }}">{{ voto }}
                          </label>
                          {% endfor %}
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <input type="hidden" name="idOrdine" value="{{ ordine.id }}">
            <button type="submit" class="btn btn-default">Salva</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
