{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/psw.css">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
        <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
        </div>
        <div class="panel-body">
          <form action="{{ path_for('cliente.ricerca.filtri') }}" method="POST" autocomplete="off">
            <br/><br/>
            <h5><img src="/mira.png" alt="Filtri" style="float:left;width:50px;height:px;"/>Filtri</h5>
            <button type="submit" class="btn btn-danger">Applica</button>
            <div class="form-group">
              <div>
              <br/> <br/> <br/>
                <label>Cucina</label>
                <select name="cucina">
                  {% for cucina in tipiCucina %}
                    <option value="{{ cucina.id }}">{{ cucina.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label>Sconti</label>
                <select name="sconti">
                  {% for s in range(low=1, high=10, step=1) %}
                    <option value="{{ s }}">{{ s }} %</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label>Distanza</label>
                <select name="distanza">
                  {% for s in range(low=0, high=50, step=5) %}
                    <option value="{{ s }}">{{ s }} km</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label>Punteggio</label>
                <select name="punteggio">
                  {% for s in range(low=0, high=10, step=1) %}
                    <option value="{{ s }}">{{ s }}/10</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
