{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/css/infoFor.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <section id="contact" class="section-padding">
         <div class="container col-md-12">
               <div class="information">
               <div class="col-md-12 text-center" id="imgLogo">
                 <img src="{{ fornitore.logo }}" alt="logo {{ fornitore.nome_attivita }}"/>
               </div>

                 <div class="col-md-12 text-center" id="mainDescr">
                     <h1 class="header-h">{{ fornitore.nome_attivita }}</h1>
                     <p class="header-p">{{ fornitore.indirizzo_via }}, {{ fornitore.indirizzo_numero }} <br/>
                      Città: {{ fornitore.citta.nome }}</p>
                 </div>
                 </div>
             <div class="col-md-12 text-center" >
               <a class="btn col-md-6" href="/fornitore/{{ fornitore.id }}/menu" role="button">Vedi menu</a>
               <br/>
               <a href="/fornitore/{{ fornitore.id }}/feedback">{{ numRecensioni }} recensioni</a><br>
             </div>

           </div>

             <div class="row msg-row">
                 <div class="col-md-12 col-sm-4 mr-15">
                   <div class="recapiti">
                     <div class="media-2" id="tel">
                         <div class="media-left">
                             <div class="contact-phone bg-1 text-center">
                               <span class="phone-in-talk fa fa-phone fa-3x"></span>
                             </div>
                         </div>
                         <div class="media-body">
                             <h4 class="regular">Telefono</h4>
                             <p class="light-blue regular alt-p"> {{ fornitore.telefono_cellulare }}</p>
                         </div>
                     </div>
                     <div class="media-2" id="orar">
                         <div class="media-left">
                             <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o fa-3x"></span></div>
                         </div>
                         <div class="media-body col-md-8">
                             <h4 class="dark-blue regular">Orario</h4>
                             <table id="orarioApertura">
                               <caption>Orari {{ fornitore.nome_attivita }}</caption>
                               <tr>
                                 <th id="lun">
                                   Lunedi
                                 </th>
                                 <td>
                                   {{ fornitore.orarioSettimanale.lunedi_dal }} - {{ fornitore.orarioSettimanale.lunedi_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="mart">
                                   Martedi
                                 </th>
                                 <td>
                                   {{ fornitore.orarioSettimanale.martedi_dal }} - {{ fornitore.orarioSettimanale.martedi_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="merc">
                                   Mercoledi
                                 </th>
                                 <td>
                                    {{ fornitore.orarioSettimanale.mercoledi_dal }} - {{ fornitore.orarioSettimanale.mercoledi_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="giov">
                                   Giovedi
                                 </th>
                                 <td>
                                   {{ fornitore.orarioSettimanale.giovedi_dal }} - {{ fornitore.orarioSettimanale.giovedi_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="ven">
                                   Venerdi
                                 </th>
                                 <td>
                                    {{ fornitore.orarioSettimanale.venerdi_dal }} - {{ fornitore.orarioSettimanale.venerdi_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="sab">
                                   Sabato
                                 </th>
                                 <td>
                                    {{ fornitore.orarioSettimanale.sabato_dal }} - {{ fornitore.orarioSettimanale.sabato_al }}
                                 </td>
                               </tr>
                               <tr>
                                 <th id="dom">
                                   Domenica
                                 </th>
                                 <td>
                                    {{ fornitore.orarioSettimanale.domenica_dal }} - {{ fornitore.orarioSettimanale.domenica_al }}
                                 </td>
                               </tr>
                             </table>
                         </div>
                     </div>
                     </div>
                 </div>

                 </div>
     </section>

{% endblock %}
