{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/menu.css">
<script src="{{ base_url() }}/js/menu.js" type="text/javascript"></script>

  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>{{ fornitore.nome_attivita }}</h1>
          <img src="{{ fornitore.logo }}" alt="logo del fornitore {{ fornitore.nome_attivita }}">
        </div>
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Menu</h1>
          <p class="header-p"> Selezionando un prodotto potrai leggere il dettaglio
          degli ingredienti che contiene. </p>
        </div>

        <div class="col-md-12 text-center">
          <button type="button" name="button" class="btn">Mostra/nascondi ingredienti</button>
        </div>

        <div class="col-md-12 text-center" id="menu-filters">
          <h4>Filtra per categoria:</h4>
          <ul>
            <li><a class="filter {% if queryParams is empty %} active {% endif %}" href="menu" data-filter=".show">Mostra tutti</a></li>
            {% for categoria in categorie %}
              <li>
                <a href="menu?filter={{ categoria.nome }}" class="filter {% if queryParams.filter is defined and queryParams.filter == categoria.nome %} active {% endif %}" data-filter="{{ categoria.id }}">{{ categoria.nome }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <form action="{{ path_for('cliente.carrello') }}" method="post" class="dinner menu-restaurant">
          {% for m in menu %}
            <h4>{{ m.nome }}</h4>
            {% if m.piatti is empty %}
              <li>Non ci sono i piatti</li>
            {% else %}
              <ul>
                {% for piatto in m.piatti %}
                  <li>
                    <span class="clearfix">
                      <div>
                        <label class="piatti"><input type="checkbox" class="menu-title" name="piatti[]" id="piatto-nome" value="{{ piatto.id }}"/> {{ piatto.nome }}</label>
                        <select name="piatto_{{ piatto.id }}_quantita">
                          {% for q in range(low=1, high=10, step=1) %}
                            <option value="{{ q }}">
                              {{ q }}
                            </option>
                          {% endfor %}
                        </select>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
                        <span class="menu-price">€ {{ piatto.prezzo }}</span>
                      </div>

                      <span class="menu-subtitle">
                        <ul>
                          {% for ingrediente in piatto.ingredienti %}
                          <li>
                            <label>
                              <input
                                type="checkbox"
                                name="piatto_{{ piatto.id }}[]"
                                value="{{ ingrediente.id }}"
                                checked>
                                {{ ingrediente.nome }}
                              </label>
                          </li>
                        {% endfor %}
                        </ul>
                      </span>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}

          <div class="add-to-cart">
            <input type="hidden" name="idFornitore" value="{{ fornitore.id }}">
            <button type="submit" class="btn btn-default add-to-cart">Aggiungi al carrello</button>
          </div>
        </form>
        <div class="text-center" id="back">
          <a href="/fornitore/{{ fornitore.id }}">Indietro</a>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
