{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/messaggi.css">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Messaggi:</h4>
          <table class="table">
            <caption> </caption>
            <thead>
              <tr>
                <th id="id">Id.</th>
                <th id="ordine">Ordine</th>
                <th id="mess">Messaggio</th>
              </tr>
            </thead>
            <tbody>
              {% for messaggio in messaggi %}
                <tr>
                  <td headers="id">
                    {{ messaggio.id }}
                  </td>
                  <td headers="ordine">
                    <div>
                      Da {{ messaggio.ordine.fornitore.nome_attivita }} per un totale di € {{ messaggio.ordine.totale }} <br/><br/>
                      <a href="{{ path_for('cliente.ordini.dettagli', {'id': messaggio.ordine.id }) }}">Dettagli ordine</a>
                    </div>
                  </td>
                  <td>
                    <div>
                      <h5>{{ messaggio.titolo }}</h5>
                      <p>
                        {{ messaggio.testo }}
                      </p>
                      <p>
                        <i>Creato il: {{ messaggio.data_creazione }}</i>
                      </p>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center" id="back">
            <a href="{{ path_for('cliente.dashboard') }}">Indietro</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
