{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/fornitoreSetting.css">

    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Elenco ordini:</h4>
          <table class="table">
            <caption> </caption>
            <thead>
              <tr>
                <th id="id">Id.</th>
                <th id="ordine">Ordine</th>
                <th id="pagamento">Pagamento</th>
                <th id="totale">Totale</th>
                <th id="stato">Stato</th>
              </tr>
            </thead>
            <tbody>
              {% for ordine in ordini %}
                <tr>
                  <td headers="id">
                    {{ ordine.id }}
                  </td>
                  <td headers="ordine">
                    {% for p in ordine.piatti %}
                      <div>
                        № {{ p.pivot.quantita }} {{ p.nome }}
                      </div>
                    {% endfor %}
                    <a href="{{ path_for('cliente.ordini.dettagli', {'id': ordine.id }) }}">Dettagli ordine</a>
                  </td>
                  <td headers="pagamento">
                    {{ ordine.dettagliPagamento.tipoPagamento.nome}}
                  </td>
                  <td headers="totale">
                    € {{ ordine.totale }}
                  </td>
                  <td headers="stato">
                    {% if ordine.evaso == "0" %}
                      Non evaso
                    {% else %}
                      Evaso<br>
                      {% if ordine.feedback is empty %}
                        <a href="{{ path_for('cliente.feedback', {'id': ordine.id}) }}">Valuta ordine</a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center" id="back">
            <a href="{{ path_for('cliente.dashboard') }}">Indietro</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
