{% extends 'templates/app.twig' %}

{% block content %}
    <div class="col-md-8 offset-md-2 ">
      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="logo col-md-8 offset-md-2 text-center">
            <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
          </div>
        </div>

        <div class="panel-body">
          <form action="{{ path_for('cliente.ricerca') }}" method="POST" autocomplete="off">
            <div class="form-group{{ errors.ristorante ? ' text-danger' : '' }}">
              <label for="ristorante"></label>
              <input type="text" name="ristorante" id="ristorante" class="form-control" placeholder="Ricerca ristorante"/>

              {% if errors.ristorante %}
                <span class="help-block">{{ errors.ristorante | first }}</span>
              {% endif %}
            </div>
            <button type="submit">Visualizza risultati</button>
          </form>
        </div>
      </div>
    </div>
  <footer>
    <div class="horizontal-scroll2"></div>
  </footer>
{% endblock %}
