{% extends 'templates/app.twig' %}

{% block content %}

<link rel="stylesheet" href="/css/riepilogo.css">

    <div class="col-md-6 offset-md-3 righe">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Riepilogo Ordine<h1></div>

        <div class="panel-body">
          <form action="{{ path_for('cliente.carrello.ordina') }}" method="POST" autocomplete="off">
            <div class="form-group">
              <table class="table-responsive">
							<caption></caption>
                <tbody>
                  <tr>
                    <th id="ordine">
                      Ordine:
                    </th>
                    <td>
                      {% for p in piatti %}
                        <div>
                          № {{ p.quantita }} {{ p.nome }}:
                          ({% for i in p.ingredienti %} <span>{{ i.nome }};</span> {% endfor %})
                        </div>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <th id="consegna">
                      Consegna in:
                    </th>
                    <td>
                      <div>
                        {{ indirizzo_spedizione.luogo }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="pagamento">
                      Pagamento:
                    </th>
                    <td>
                      <div>
                        {{ pagamento }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="subtotale">
                      Sub-totale:
                    </th>
                    <td>
                      <div>
                        {{ subtotale }} €
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="sconto">
                      Sconto:
                    </th>
                    <td>
                      <div>
                        - {{ sconto }} %
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="spedizione">
                      Spedizione:
                    </th>
                    <td>
                      <div>
                        {{ spedizione.tariffa }} €
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th id="totale">
                      Totale:
                    </th>
                    <td>
                      <div>
                        {{ totale }} € (Spedizione inclusa)
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <input type="hidden" name="sent" value="true" />
            <button type="submit" class="btn btn-default">Ordina</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
