{% extends 'templates/app.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/risRicerca.css">

<script src="{{ base_url() }}/js/filter.js" type="text/javascript"></script>

  <div class="col-md-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading col-md-8 offset-md-2">
          <div class="wrapper">
            <img src="/img/Logo.jpg" alt="Logo Unicibo"/>
          </div>
          <p id="description">Stai già pensando alla pausa pranzo? Seleziona il tuo ristorante preferito per il giusto pranzo universitario!<br/>
            Cliccando sul ristorante potrai vedere il menù e la loro disponibilità.</p>
        </div>

        <div class="filt">
          <h2>Applica filtri</h2>
          <div layout="row">
            <form action="{{ path_for('cliente.ricerca.filtri') }}" method="POST" autocomplete="off">
              <h3 class="typeFilter">Cucina:</h3>
              {% for cucina in tipiCucina %}
                <label>
                  <input
                    type="checkbox"
                    name="cucina[]"
                    value="{{ cucina.id }}"
                    {% if filtriApplicati.cucina is defined %}
                      {% for c in filtriApplicati.cucina %}
                        {% if c == cucina.id %}
                          checked
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    />
                    {{ cucina.nome }}
                </label>
                <br/>
              {% endfor %}

              <h3 class="typeFilter">Sconti:</h3>
              {% for s in sconti %}
                <label>
                  <input
                    type="checkbox"
                    name="sconti[]"
                    value="{{ s.id }}"
                    {% if filtriApplicati.sconti is defined %}
                      {% for sc in filtriApplicati.sconti %}
                        {% if sc == s.id %}
                          checked
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    />
                    {{ s.valore }} %
                </label>
                <br/>
              {% endfor %}

              <h3 class="typeFilter">Punteggio min.(0-5):</h3>
              <input
                type="range"
                name="punteggio"
                min="0"
                max="5"
                {% if filtriApplicati.punteggio is defined %}
                  value="{{ filtriApplicati.punteggio }}"
                {% else %}
                  value="0"
                {% endif %}
                id="myRange"/>
              <p>Value: <span id="demo"></span></p>

              <label for="ricerca-filtri"><input class="btnFilt btn" id="ricerca-filtri" type="submit" value="Ricerca con filtri"/></label>

            </form>

            <form action="{{ path_for('cliente.ricerca.filtri') }}" method="POST" autocomplete="off">
              <label><input type="hidden" name="rimuoviFiltri" value="1"></label>
              <label><input class="btnFilt btn" type="submit" value="Elimina filtri"/></label>
            </form>
          </div>
        </div>

        <div class="main">

        <div class="panel-body">
          <input class="btn" type="button" value="Applica filtri"/>
          {% for fornitore in fornitori %}
            <div class="fornitoreScheme">
              <div class="wrapperImg">
                <img src="{{ fornitore.logo }}" alt="Logo del fornitore {{ fornitore.nome_attivita}}"/>
              </div>

              <div class="wrapperTxt">
                <a href="/fornitore/{{ fornitore.id }}">{{ fornitore.nome_attivita }}</a>
                <p>{{ fornitore.indirizzo_via }}, {{ fornitore.indirizzo_numero }} <br/>
                  Città: {{ fornitore.citta.nome }} </p>
                <p>Voto medio: <b>{{ fornitore.mediaVoti }}</b>/5</p>
                <p>Sconto: {{ fornitore.sconto.valore }} %</p>
              </div>

            </div>
          {% endfor %}
        </div>
    </div>
    </div>
  </div>


{% endblock %}
